/*button*/

.btn-grad {background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%)}
.btn-grad {
   padding: 0.5rem 2rem;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;  
   z-index: 9;          
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   border-radius: 25px;
 }
 .btn-grad:hover .fas{
  transform: rotate(90deg);
 }
 @media (min-width: 360px) and (max-width: 767px){
  .btn-grad{
      padding: 0.5rem;
  }
} 
@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: 0.4;
 }
  50% {
    transform: translateY(3px);
    opacity: 1;
 }
  100% {
    transform: translateY(6px);
    opacity: 0.4;
 }
}
.float-shadow a{
  font-size: 2.2rem !important;
  font-family: 'Poppins', sans-serif !important;
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
}
.float-shadow a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.float-shadow a:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color:#df7be4 !important;
}
.float-shadow a:hover:before {
  opacity: 0.4;
  transform: translateY(6px);
  animation-name: hover-shadow;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
