footer{
    overflow: hidden;
}
.footer-bg{
    background: #f2f2f2;
    height: 60vh;
}
.footer-name{
    font-size: 8rem;
    margin: 3rem 0;
}

.social{
    background-color: white;
}
.social-list li{
    list-style: none;
    margin-right:1rem;
    cursor: pointer;
    z-index: 999;
} 

.social-icon{
width: 80px;
}
.footer-j{
    bottom: 138px;
    z-index: 9;
    margin: 0;
    left:42.5%;
    height: 60vh;
    transform: translateX(-50%);

}
@media (min-width: 360px) and (max-width: 767px){
    .footer-j{
        bottom: 85px;
        left:15%;    
        height: 60vh;
    }
    .social-icon{
        width: 40px;
        }
    .footer-name{
        font-size: 6rem;
        }
        
} 
@media (min-width: 768px) and (max-width:992px ) {
    .footer-j{
        bottom: 138px;
        z-index: 9;
        margin: 0;
        left:50%;
        transform: translateX(-50%);
        height: 60vh;
    }
   }